  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html {
    line-height: 1.15;
    font-family: Poppins;
    font-size: 16px;
  }

  body {
    margin: 0;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    text-transform: none;
    letter-spacing: normal;
    line-height: 1.15;
    color: var(--dl-color-gray-black);
    background-color: var(--dl-color-gray-white);
  }

  * {
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
  }

  p,
  li,
  ul,
  pre,
  div,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  figure,
  blockquote,
  figcaption {
    margin: 0;
    padding: 0;
  }

  button {
    background-color: transparent;
  }

  button,
  input,
  optgroup,
  select,
  textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
  }

  button,
  select {
    text-transform: none;
  }

  button,
  [type="button"],
  [type="reset"],
  [type="submit"] {
    -webkit-appearance: button;
  }

  button::-moz-focus-inner,
  [type="button"]::-moz-focus-inner,
  [type="reset"]::-moz-focus-inner,
  [type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
  }

  button:-moz-focus,
  [type="button"]:-moz-focus,
  [type="reset"]:-moz-focus,
  [type="submit"]:-moz-focus {
    outline: 1px dotted ButtonText;
  }

  a {
    color: inherit;
    text-decoration: inherit;
  }

  input {
    padding: 2px 4px;
  }

  img {
    display: block;
  }

  html {
    scroll-behavior: smooth
  }




  @keyframes fade-in-left {
    0% {
      opacity: 0;
      transform: translateX(-20px);
    }

    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @media (max-width : 768px) {
    .home-main {
      height: auto !important;
      padding: 0px 0px !important;
    }

    .home-content {
      margin-top: 30px;
      display: block;
      width: 100%;
      height: 100%;
    }

    .home-image08 {
      width: 100%;
      display: block;
      padding: 0px 0px;
      margin: 0px 0px;
    }

    .home-image08 img {
      width: 100%;
      max-height: 50%;
      padding: 0px 0px;
      margin: 0px 0px;
    }

  }

  @media (max-width : 991px) {
    .home-main {
      height: auto !important;
      padding: 0px 0px;
    }

    .home-content {
      margin-top: 30px;
      display: block;
      width: 100%;
      height: 100%;
    }

    .home-image08 {
      width: 100%;
      display: block;
      padding: 25px 25px !important;
      margin: 0px 0px;
    }

    .home-image08 img {
      width: 100%;
      max-height: 50%;
      padding: 0px 0px;
      margin: 0px 0px;
    }

    .home-content1 {
      display: flex;
      justify-content: center;
      align-items: center;
      flex: none !important;
      padding-right: 0px !important;
    }

    .home-book3 {
      padding-top: 0px !important;
      padding-bottom: 0px !important;
      margin-top: 0px !important;
    }

    .home-practices1 {
      height: auto !important;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .home-grid1 {
      width: auto !important;
      grid-template-columns: none !important;
    }

    .home-practices1 {
      flex-direction: unset !important;
    }

    .home-image10 {
      width: auto !important;
      padding-left: 10px !important;
    }

    .home-container3 {
      width: 100% !important;
      flex: none !important;
      display: flex !important;
      justify-content: center !important;
      align-items: center !important;
    }

    .home-copyright {
      margin: 10px 0px !important;
      align-self: center !important;
    }

    .home-right1 {
      margin-top: 50px;
      flex-direction: row !important;
    }

    .home-list1 {
      flex: 2 !important;
      ;
    }
  }